.error {
  position: fixed;
  bottom: 24px;
  left: 24px;
  right: 24px;
  padding: 18px;
  color: white;
  background-color: #d32f2f;
  border-radius: 2px;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.5);
}
