html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

#app {
  display: flex;
  margin: auto;
  flex-direction: column;
}

.error {
  position: fixed;
  bottom: 24px;
  left: 24px;
  right: 24px;
  padding: 18px;
  border: 1px solid orangered;
  border-radius: 5px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

@media (min-width: 480px) {
  .list {
    width: 100%;
  }

  .cell.name {
    width: 40%;
  }

  .cell.date {
    width: 40%;
  }
}

@media (min-width: 960px) {
  .list {
    width: 60vw;
  }

  .cell.name {
    width: 15%;
  }

  .cell.date {
    width: 20%;
  }
}

.list {
  display: flex;
  flex-direction: column;
}

.row {
  margin-top: 36px;
  background: #eeeeee;
  display: flex;
  flex-wrap: wrap;
}

.cell {
  display: flex;
  padding: 6px;
  align-items: center;
}

.cell.seen-display {
  flex-grow: 2;
}

.cell.buttons {
  flex-wrap: nowrap;
}

.cell.seen-display {
  flex-wrap: wrap;
}

.cell.seen-display > * {
  padding: 3px 12px;
  position: relative;
  display: flex;
  align-items: center;
}

.cell.seen-display .seen::after,
.cell.seen-display .not-seen::after {
  content: '';
  display: block;
  padding: 1px 8px;
  margin-left: 4px;
  border-radius: 2px;
}

.cell.seen-display .seen::after {
  content: 'pažėja';
  background: limegreen;
}

.cell.seen-display .not-seen::after {
  content: 'nepažėja';
  background: orangered;
  color: white;
}
